<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <!-- <meta name="author" content="Your name"> -->
  <meta name="description" content="Free online audio to text converter">

  <meta property="og:title" content="Online Audio to Text Converter">
  <meta property="og:description" content="Free online audio to text converter. Transcribe speech and voice recordings to text">
  <meta property="og:image" content="/some-image.png">
  <meta property="og:url" content="/this-page.html">
  <meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>" >

  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <div id="root"></div>
</body>

</html>